<template>
  <form class="login-form">
    <input-text
      ref="username"
      :label="'Usuario'"
      :placeholder="'Usuario'"
      :icon="'icon-user'"
    />
    <input-pwd
      ref="password"
      :label="'Contraseña'"
      :placeholder="'Contraseña'"
      :icon="'icon-lock'"
    />
    <button class="btn submit-btn" @click="initSesion">
      <i class="icon-enter" />
      <span>Iniciar sesión</span>
    </button>
    <a href="/" title="password recovery" class="password-recovery">
      Forgot password?
    </a>
  </form>
</template>

<script>
import { mapActions } from 'vuex'
import InputText from '~/components/elements/form/InputText.vue'
import InputPwd from '~/components/elements/form/InputPwd.vue'
import * as Service from '~/scripts/service.js'
export default {
  components: {
    InputText,
    InputPwd
  },
  methods: {
    ...mapActions({
      saveLoginStatus: 'login/saveLoginStatus'
    }),
    initSesion(e) {
      e.preventDefault()
      if (this.validate()) {
        this.submitForm()
      }
    },
    validate() {
      const vm = this
      return vm.$refs.username.isValid() && vm.$refs.password.isValid()
    },
    submitForm() {
      const vm = this
      const user = vm.$refs.username.model.input
      const pwd = vm.$refs.password.model.input
      const success = Service.loginUser({ user, pwd })
      if (success) {
        this.saveLoginStatus({ logged: true, user })
        this.$router.push('/')
      }
    }
  }
}
</script>
<style lang="scss" scpoped>
@import '~assets/css/vars';
.login-form {
  width: 100%;
  max-width: 400px;
  padding: 60px 30px;
  border: 1px solid #adadad;
  border-top: 8px solid $primary;
  border-radius: 5px;
  margin: 20px auto;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
  box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-btn {
  border-radius: 20px;
  width: 100%;
  height: 40px;
  background-color: $primary;
  color: $white;
  text-transform: none;
  font-size: 16px;
  margin: 20px 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  span {
    margin-left: 20px;
  }
}

.icon-enter {
  margin-top: 2px;
}

.password-recovery {
  color: $primary;
  font-size: 16px;
}

@media #{$tablet} {
  .login-form {
    padding: 80px 100px;
    max-width: 500px;
  }
}

@media #{$desktop} {
  .login-form {
    max-width: 450px;
  }
}
</style>
