<template>
  <nav
    v-click-outside="hideNav"
    class="navigation"
    :class="{ active: navigator.show }"
  >
    <a href="#" class="navigation-button" @click="toggleNav">
      <i v-show="!navigator.show" class="icon-menu" />
      <i v-show="navigator.show" class="icon-cross" />
      <span class="sr-only">navigation</span>
    </a>
    <ul class="navigation-bar" @click="hideNav">
      <li
        v-for="(item, index) in navigator.items"
        :key="'nav' + index"
        class="navigation-item"
      >
        <nuxt-link :to="item.to" class="navigation-link">
          <i class="navigation-icon" :class="item.icon" />
          <span class="navitation-item-text">{{ item.name }}</span>
          <ion-icon name="ios-arrow-forward" class="navigation-arrow" />
        </nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import ClickOutside from 'vue-click-outside'
export default {
  directives: {
    ClickOutside
  },
  data: () => ({
    navigator: {
      show: false,
      items: [
        {
          name: 'Menu principal',
          icon: 'icon-home3',
          to: '/'
        },
        {
          name: 'Alertas',
          icon: 'icon-spare_cover',
          to: '/warnings'
        },
        {
          name: 'Eventos',
          icon: 'icon-calendar-daily',
          to: '/events'
        },
        {
          name: 'Incidencias',
          icon: 'icon-issue',
          to: '/issues'
        },
        {
          name: 'Personal',
          icon: 'icon-driver',
          to: '/staff'
        },
        {
          name: 'Material',
          icon: 'icon-bus-2',
          to: '/material'
        },
        {
          name: 'Alarmas',
          icon: 'icon-bell',
          to: '/alarms'
        }
      ]
    }
  }),
  methods: {
    toggleNav(e) {
      e.preventDefault()
      this.navigator.show = !this.navigator.show
    },
    hideNav(e) {
      e.preventDefault()
      this.navigator.show = false
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/css/vars';
.navigation {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
  &:after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    transition: background-color 0.3s;
  }
  &.active {
    .navigation-bar {
      width: 240px;
      z-index: 11;
      position: relative;
    }
    &:after {
      content: '';
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 10;
    }
  }
}

.icon-menu,
.icon-cross {
  height: auto;
  font-size: 1em;
}

.navigation-bar {
  padding-top: 70px;
  background-color: $grey;
  overflow: hidden;
  height: 100%;
  width: 0;
  transition: width 0.3s;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
  box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
}

.navigation-button {
  position: absolute;
  top: 13px;
  left: 20px;
  margin: 0;
  position: absolute;
  z-index: 12;
  cursor: pointer;
  border-radius: 50px;
  background: $white;
  color: $primary;
  padding: 8px;
  font-size: 18px;
}

.navigation-item {
  width: 100%;
}

.navigation-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #333;
  padding: 0;
  height: 66px;
}

.navigation-icon {
  display: flex;
  align-items: center;
  min-width: 70px;
  justify-content: center;
  font-size: 18px;
}

.navigation-arrow {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 24px;
}

@media #{$tablet} {
  .navigation {
    width: 70px;
    &.active {
      width: 100%;
    }
  }
  .navigation-bar {
    width: 70px;
  }
  .navigation-button {
    left: 28px;
  }
}
</style>
