<template>
  <footer class="footer">
    <div class="footer-copyright">
      <span class="footer-copyright-date">@2019 - GOAL SYSTEMS</span>
      <span class="footer-copyright-version">v2.0.11.225644</span>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
@import '~assets/css/vars';
.footer {
  margin-top: 60px;
  padding: 0 20px;
}

.footer-copyright {
  color: $primary;
  font-size: 14px;
  border-top: 1px solid $primary;
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.footer-copyright-version {
  font-size: 12px;
  margin-left: 8px;
}

@media #{$tablet} {
  .footer {
    padding: 0 30px;
  }
}

@media #{$desktop} {
  .footer {
    padding-left: 84px;
    padding-right: 20px;
  }
}
</style>
