<template>
  <h2 class="page-title">{{ title }}</h2>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
      default: 'Page title'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/css/vars';
.page-title {
  color: $black;
  font-size: 20px;
}
</style>
