<template>
  <div class="header">
    <slot name="navigation" class="navbar" />
    <div class="header-wrapper">
      <h1 class="company-name">DOMweb</h1>
      <div v-click-outside="closeDropdown" class="header-tools">
        <a href="#" class="header-web icon-sphere">
          <span class="sr-only">planet</span>
        </a>
        <a
          v-if="loginStatus"
          href="#"
          class="header-user"
          :class="{ active: dropdown.show }"
          @click="toggleDropdown"
        >
          <span>{{ username }}</span>
          <ion-icon name="arrow-dropdown" class="header-tools-icon" />
        </a>
        <ul
          v-if="loginStatus"
          class="header-tools-dropdown"
          :class="{ active: dropdown.show }"
        >
          <li>
            <a href="#" class="header-tools-item">Resetear contraseña</a>
          </li>
          <li>
            <a href="#" class="header-tools-item" @click="unlog">
              Cerrar sesión
            </a>
          </li>
          <li>
            <a href="#" class="header-tools-item" @click="showModal">
              Acerca de
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ClickOutside from 'vue-click-outside'
export default {
  directives: {
    ClickOutside
  },
  data: () => ({
    dropdown: {
      show: false
    },
    modal: {
      show: false
    }
  }),
  computed: {
    ...mapGetters({
      loginStatus: 'login/loginStatus',
      username: 'login/username'
    })
  },
  methods: {
    ...mapActions({
      closeSession: 'login/closeSession',
      toggleModal: 'modal/toggleModal'
    }),
    toggleDropdown(e) {
      e.preventDefault()
      this.dropdown.show = !this.dropdown.show
    },
    closeDropdown(e) {
      e.preventDefault()
      this.dropdown.show = false
    },
    unlog(e) {
      e.preventDefault()
      this.closeSession()
      this.$router.push('/login')
    },
    showModal(e) {
      e.preventDefault()
      this.toggleModal({ modalId: 'showAbout', status: true })
      this.modal.show = true
      this.dropdown.show = false
    }
  }
}
</script>
<style lang="scss" scpoped>
@import '~assets/css/vars';
.header {
  position: relative;
  z-index: 12;
  height: 60px;
  background-color: $primary;
  color: $white;
  font-size: 22px;
  padding-left: 66px;
  padding-right: 20px;
}

.header-web {
  color: $white;
}

.company-name {
  font-size: 18px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-tools {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
}

.header-tools-icon {
  font-size: 20px;
  transform: rotate(180deg);
}

.header-web {
  font-size: 16px;
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-user {
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  color: $white;
  padding-left: 10px;
  padding-right: 2px;
  &.active {
    background-color: darken($color: $primary, $amount: 10);
    .header-tools-icon {
      transform: rotate(0);
    }
  }
}

.header-tools-dropdown {
  background-color: $white;
  position: absolute;
  top: 60px;
  right: 0;
  width: 240px;
  display: none;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(144, 144, 144, 1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(144, 144, 144, 1);
  box-shadow: 0px 0px 8px 0px rgba(144, 144, 144, 1);
  &.active {
    display: block;
  }
  > li {
    height: 50px;
  }
}

.header-tools-item {
  color: $primary;
  font-size: 16px;
  padding: 0 20px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

@media #{$tablet} {
  .header {
    padding-left: 84px;
  }
  .header-user {
    margin-left: 20px;
    padding: 0 10px;
  }
  .company-name {
    font-size: 22px;
  }
  .header-web {
    padding: 0 20px;
  }
}
</style>
