<template>
  <div class="page-wrapper">
    <div class="page-header">
      <slot name="header" />
    </div>
    <div class="page-content">
      <slot name="content" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '~assets/css/vars';
.page-wrapper {
  margin: 20px;
}

.page-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  background-color: $grey2;
}

@media #{$tablet} {
  .page-wrapper {
    margin: 12px 30px 20px 100px;
  }
  .page-header {
    flex-direction: row;
  }
}

@media #{$desktop} {
  .page-wrapper {
    margin: 12px 40px 20px 110px;
  }
}
</style>
