<template>
  <div class="modal" :class="{ active: getModalStatus('showAbout') }">
    <div class="modal-wrapper">
      <a title="cerrar" class="close-modal" href="#" @click="closeModal">
        <ion-icon name="ios-close" class="close-modal-icon" />
        <span class="sr-only">close modal</span>
      </a>
      <span class="modal-title">Acerca de</span>
      <div class="modal-body">
        <img class="goal-image" src="~assets/img/logo.png" alt="GOAL systems" />
        <div class="modal-copyright">
          <span class="modal-copyright-date">@2019 - GOAL SYSTEMS</span>
          <span class="modal-copyright-version">v2.0.11.225644</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      getModalStatus: 'modal/getModalStatus'
    })
  },
  methods: {
    ...mapActions({
      toggleModal: 'modal/toggleModal'
    }),
    closeModal() {
      this.toggleModal({ modalId: 'showAbout', status: false })
    }
  }
}
</script>

<style lang="scss" scpoped>
@import '~assets/css/vars';
.modal {
  top: 80px;
  border-top: 8px solid $primary;
  border-radius: 5px;
  width: 100%;
  max-width: 420px;
  height: 380px;
  &:after {
    content: '';
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &.active {
    display: block;
  }
}

.modal-wrapper {
  position: relative;
  z-index: 11;
  background-color: $white;
  padding: 20px 26px 30px;
  height: 100%;
}

.close-modal {
  position: absolute;
  right: 8px;
  top: 8px;
}
.close-modal-icon {
  font-size: 30px;
  color: #666;
}

.modal-title {
  font-weight: bold;
  font-size: 18px;
}

.goal-image {
  width: 180px;
  margin: 40px auto;
  display: flex;
}

.modal-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
}

.modal-copyright-date {
  margin-bottom: 20px;
}
</style>
