<template>
  <div class="card">
    <slot />
  </div>
</template>

<style lang="scss" scoped>
@import '~assets/css/vars';
.card {
  background-color: $white;
  border: 1px solid $primary;
  border-top: 8px solid $primary;
  border-radius: 5px;
  padding: 16px 30px;
  margin-top: 0;
  margin-bottom: 22px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
  box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 1);
}
</style>
