* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  font-family: $corporate-font;
}

p {
  font-size: $font-size;
  margin-bottom: 8px;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

abbr[title] {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  max-width: $desktop-size;
  margin: 0 auto;
  position: relative;
}

.input-field {
  width: 100%;
  label {
    color: $primary;
  }
  input[type='text'],
  input[type='password'] {
    &:not(.browser-default) {
      &:focus {
        &:not([readonly]) {
          border-bottom: 1px solid $primary;
          box-shadow: 0 1px 0 0 $primary;
        }
      }
    }
    &:focus + label {
      color: $primary;
    }
    &.valid {
      border-bottom: 1px solid $primary;
      box-shadow: 0 1px 0 0 $primary;
    }
    &.invalid {
      border-bottom: 1px solid $danger;
      box-shadow: 0 1px 0 0 $danger;
    }
    .prefix.active {
      color: $primary;
    }
  }
}

.row {
  margin: 0 -10px;
}

@media #{$tablet} {
  .wrapper {
    padding: 0 20px;
  }
}
