@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url('~assets/fonts/icomoon.woff') format('truetype');
}
 
@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url('~assets/fonts/icomoon2.woff') format('truetype');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

 

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 

.icon-add-new:before {
  content: "\e92c";
}
.icon-checklist:before {
  content: "\e92d";
}
.icon-comment:before {
  content: "\e92e";
}
.icon-delete:before {
  content: "\e92f";
}
.icon-dispatch:before {
  content: "\e930";
}
.icon-edit-generic:before {
  content: "\e931";
}
.icon-incident-add:before {
  content: "\e932";
}
.icon-incident-temporary:before {
  content: "\e933";
}
.icon-exchange:before {
  content: "\e934";
}
.icon-time-set-change:before {
  content: "\e935";
}
.icon-bolsa-servicios:before {
  content: "\e928";
}
.icon-calendar-daily:before {
  content: "\e929";
}
.icon-calendar-week:before {
  content: "\e92a";
}
.icon-color-paint:before {
  content: "\e92b";
}
.icon-reassign-metro:before {
  content: "\e923";
}
.icon-reassign-bus-2:before {
  content: "\e925";
}
.icon-reassign-driver:before {
  content: "\e926";
}
.icon-reassign-boat:before {
  content: "\e927";
}
.icon-metro-unassign:before {
  content: "\e916";
}
.icon-metro:before {
  content: "\e924";
}
.icon-boat-unassign:before {
  content: "\e922";
}
.icon-boat:before {
  content: "\e921";
}
.icon-driver-unassign:before {
  content: "\e91f";
}
.icon-bus-2-unassign:before {
  content: "\e920";
}
.icon-veto:before {
  content: "\e914";
}
.icon-payroll-dollar:before {
  content: "\e911";
}
.icon-payroll-euro:before {
  content: "\e912";
}
.icon-payroll-pound:before {
  content: "\e913";
}
.icon-messaging:before {
  content: "\e910";
}
.icon-overtime:before {
  content: "\e90f";
}
.icon-leave:before {
  content: "\e90b";
}
.icon-spare_cover:before {
  content: "\e90e";
}
.icon-issue:before {
  content: "\e90a";
}
.icon-rename:before {
  content: "\e90c";
}
.icon-swap:before {
  content: "\e90d";
}
.icon-log-in:before {
  content: "\e900";
}
.icon-authentication:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-log-out:before {
  content: "\e903";
}
.icon-driver:before {
  content: "\e904";
}
.icon-profile:before {
  content: "\e905";
}
.icon-notes:before {
  content: "\e906";
}
.icon-planning:before {
  content: "\e907";
}
.icon-chat:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-bus-1:before {
  content: "\e915";
}
.icon-bus-2:before {
  content: "\e917";
}
.icon-bus-3:before {
  content: "\e918";
}
.icon-bus-4:before {
  content: "\e919";
}
.icon-metro-1:before {
  content: "\e91a";
}
.icon-bus-5:before {
  content: "\e91b";
}
.icon-metro-2:before {
  content: "\e91c";
}
.icon-train-2:before {
  content: "\e91d";
}
.icon-metro-3:before {
  content: "\e91e";
}
.icon-bell:before {
  content: "\e951";
}
.icon-importplan:before {
  content: "\e9c7";
}
.icon-bankholidays:before {
  content: "\e9af";
}
.icon-workingrules:before {
  content: "\e9bb";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-home3:before {
  content: "\e802";
}
.icon-user:before {
  content: "\e871";
}
.icon-lock:before {
  content: "\e88f";
}
.icon-menu:before {
  content: "\e8bf";
}
.icon-sphere:before {
  content: "\e8c9";
}
.icon-cross:before {
  content: "\e80f";
}
