// BREAKPOINTS
$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1280px;

// MEDIA QUERIES
$tablet: "(min-width: #{$tablet-size})";
$desktop: "(min-width: #{$desktop-size})";

// COLORS
$grey: #e7e7e7;
$grey2: #f9f9f9;
$white: #fff;
$black: #000;
$primary: #5c788f;
$success: #2BDE89;
$warning: #E7AE5F;
$danger: #FD5050;
$text: #7A7A7A;

// FONTS
$corporate-font: 'Open Sans', sans-serif;
$font-size: 16px;
