<template>
  <div class="home-content">
    <div class="row">
      <div
        v-for="(item, index) in cardList"
        :key="'nav' + index"
        class="col s12 m4 l3"
      >
        <nuxt-link :to="item.to" class="card-link">
          <card class="card">
            <div class="card-content">
              <i :class="item.icon" class="card-icon" />
              <span class="card-title">{{ item.name }}</span>
              <span
                v-if="item.notifications !== '0'"
                class="card-notifications"
              >
                {{ item.notifications }}
              </span>
              <span
                v-if="item.notifications !== '0'"
                class="card-notification-msg"
              >
                {{ item.notifications }} recursos con ausen...
              </span>
            </div>
          </card>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import Card from '~/components/elements/Card.vue'
export default {
  components: {
    Card
  },
  data: () => ({
    cardList: [
      {
        name: 'Alertas',
        icon: 'icon-spare_cover',
        to: '/warnings',
        notifications: '0'
      },
      {
        name: 'Eventos',
        icon: 'icon-calendar-daily',
        to: '/events',
        notifications: '1'
      },
      {
        name: 'Incidencias',
        icon: 'icon-issue',
        to: '/issues',
        notifications: '0'
      },
      {
        name: 'Personal',
        icon: 'icon-driver',
        to: '/staff',
        notifications: '0'
      },
      {
        name: 'Material',
        icon: 'icon-bus-2',
        to: '/material',
        notifications: '0'
      },
      {
        name: 'Alarmas',
        icon: 'icon-bell',
        to: '/alarms',
        notifications: '0'
      }
    ]
  })
}
</script>
<style lang="scss" scoped>
@import '~assets/css/vars';
.card {
  height: 120px;
  padding: 18px 14px 16px 35px;
  .card-content {
    overflow: hidden;
    .card-title {
      margin-bottom: 0;
      margin-top: 8px;
    }
  }
  .card-title {
    font-size: 22px;
  }
}
.card-content {
  display: flex;
  align-items: center;
  padding: 0;
}
.card-icon {
  font-size: 40px;
  margin-right: 12px;
}
.card-link {
  color: $primary;
}
.card-notifications {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background: $danger;
  border-radius: 50%;
  color: $white;
  font-size: 14px;
}

.card-notification-msg {
  position: absolute;
  top: 60px;
  left: 84px;
  font-size: 14px;
  white-space: nowrap;
}

@media #{$tablet} {
  .card {
    padding: 18px 14px 16px 24px;
    .card-title {
      font-size: 18px;
    }
  }
  .card-icon {
    font-size: 30px;
  }
  .card-notification-msg {
    left: 64px;
    font-size: 12px;
  }
}
@media #{$desktop} {
  .card {
    padding: 18px 14px 16px 35px;
    .card-title {
      font-size: 22px;
    }
  }
  .card-icon {
    font-size: 40px;
  }
  .card-notification-msg {
    left: 84px;
    font-size: 14px;
  }
}
</style>
