<template>
  <div class="inner-layout">
    <page-header />
    <navigation />
    <nuxt />
    <modal-about />
  </div>
</template>

<script>
import PageHeader from '~/components/common/PageHeader.vue'
import Navigation from '~/components/common/Navigation.vue'
import ModalAbout from '~/components/elements/modal/ModalAbout.vue'

export default {
  components: {
    PageHeader,
    Navigation,
    ModalAbout
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/css/vars';
.inner-layout {
  background-color: $grey2;
  min-height: 100vh;
}
</style>
