<template>
  <div class="home-page">
    <page-layout>
      <template v-slot:header>
        <page-title :title="'Eventos'" />
        <breadcrumb :breadcrumbs="breadcrumbs" />
      </template>
      <template v-slot:content>
        <card>
          <div class="card-title-wrapper">
            <i class="icon-calendar-daily" />
            <span class="card-title">Listado de eventos</span>
          </div>
          <events-table />
        </card>
      </template>
    </page-layout>
  </div>
</template>

<script>
import PageLayout from '~/components/common/PageLayout.vue'
import PageTitle from '~/components/common/PageTitle.vue'
import Breadcrumb from '~/components/common/Breadcrumb.vue'
import Card from '~/components/elements/Card.vue'
import EventsTable from '~/components/views/events/EventsTable.vue'
export default {
  middleware({ store, redirect }) {
    if (!store.state.login.logged) {
      return redirect('/login')
    }
  },
  components: {
    PageLayout,
    PageTitle,
    Breadcrumb,
    Card,
    EventsTable
  },
  data: () => ({
    breadcrumbs: [
      {
        title: 'Eventos'
      }
    ]
  })
}
</script>

<style lang="scss" scoped>
@import '~assets/css/vars';
.card-title-wrapper {
  margin-bottom: 8px;
}
.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-left: 2px;
}
</style>
