<template>
  <div class="home-page">
    <page-layout>
      <template v-slot:header>
        <page-title :title="'Menú principal'" />
        <breadcrumb :breadcrumbs="breadcrumbs" />
      </template>
      <template v-slot:content>
        <dashboard />
      </template>
    </page-layout>
  </div>
</template>

<script>
import PageLayout from '~/components/common/PageLayout.vue'
import PageTitle from '~/components/common/PageTitle.vue'
import Breadcrumb from '~/components/common/Breadcrumb.vue'
import Dashboard from '~/components/views/home/Dashboard.vue'
export default {
  middleware({ store, redirect }) {
    if (!store.state.login.logged) {
      return redirect('/login')
    }
  },
  components: {
    PageLayout,
    PageTitle,
    Breadcrumb,
    Dashboard
  }
}
</script>
