<template>
  <div class="home-page">
    <page-layout>
      <template v-slot:header>
        <page-title :title="'Incidencias'" />
        <breadcrumb :breadcrumbs="breadcrumbs" />
      </template>
    </page-layout>
  </div>
</template>

<script>
import PageLayout from '~/components/common/PageLayout.vue'
import PageTitle from '~/components/common/PageTitle.vue'
import Breadcrumb from '~/components/common/Breadcrumb.vue'
export default {
  middleware({ store, redirect }) {
    if (!store.state.login.logged) {
      return redirect('/login')
    }
  },
  components: {
    PageLayout,
    PageTitle,
    Breadcrumb
  },
  data: () => ({
    breadcrumbs: [
      {
        title: 'Incidencias'
      }
    ]
  })
}
</script>
