<template>
  <div class="login-page">
    <login-form />
  </div>
</template>

<script>
import LoginForm from '~/components/views/login/LoginForm.vue'
export default {
  layout: 'login',
  components: {
    LoginForm
  },
  middleware({ store, redirect }) {
    if (store.state.login.logged) {
      return redirect('/')
    }
  }
}
</script>
