<template>
  <div class="input-wrapper">
    <i v-if="icon" class="input-icon" :class="icon" />
    <div class="input-field">
      <input
        v-model="model.input"
        :placeholder="placeholder"
        type="text"
        class="validate"
        :class="{ invalid: validation.error }"
      />
      <label class="sr-only">{{ label }}</label>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    model: {
      value: ''
    },
    validation: {
      error: false
    }
  }),
  methods: {
    isValid() {
      const regex = /^[A-Za-z0-9]+$/g
      const value = this.model.input
      if (value !== undefined && regex.test(value)) {
        this.validation.error = false
        return true
      } else {
        this.validation.error = true
        return false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/css/vars';
.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-icon {
  color: $primary;
  font-size: 20px;
  margin-right: 20px;
}
</style>
